.row
{
	float:left;
	margin-left: -15px;
	margin-right: -15px;
	width: 100%;
}
@media only screen and (max-width: 950px)
{.row
{
	margin: 0;
}
}
[class*="column-"]
{
	padding-left: 15px;
	padding-right: 15px;
	float:left;
}

.column-full
{
	width: 100%;
}

.column-half
{
	width: 50%;

}

.column-third
{
	width: 33.33333%;
}

@media only screen and (max-width: 950px)
{
	.column-third
	{
		width: 100%;
	}

}

.column-quarter
{
	width: 25%;
	
}

@media only screen and (max-width: 950px)
{
	.column-quarter
	{
		width: 95%;
		margin: 20px 2.5%;
		padding: 0;
	}

}


[class*="column-"].center
{
	text-align: center;
}
