.jumbotron
{
	width: 100%;
	height: 100%;
	background-image: url("../img/jumbotron.jpg");
	background-size: cover;
	text-align: center;
	float:left;
	color: #fff;
	margin: auto;
}

.jumbotron h1
{
	font-family: "Oswald";
	color: #eeeeee;
	font-weight: 300;
	font-size: 60px;
	margin-top: 185px;
	vertical-align: middle;
}

.jumbotron p
{
	font-size: 22px;
	margin-top: 1em;
	font-family: "Open Sans";
	font-weight: 300;
}

.jumbotron-button
{
	border: 1px solid #fff;
	padding: 10px;
	display: block;
	min-width: 100px;
	width: intrinsic;
	font-family: "Oswald";
	font-size: 22px;
	font-weight: 300;
	margin: 3em auto;
	background-color: #242424;
}


.jumbotron-button:hover
{
	
	/* border-color: #b9a3dc;
	color: #b9a3dc; */
	border-color: #FFFFFF;
	color: #FFFFFF;
	background-color: #2b2b2b;
}