.navbar {
    font-family: "Oswald";
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    /*background-image: url('../img/escheresque_ste.png');*/
    /*background-color: #6D44A8;*/
    
    background-color: 
	#c62e2e;
    z-index: 2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
.navbar-wrapper {
    width: 1170px;
    margin: 0 auto;
}
@media only screen and (max-width: 1190px) {
    .navbar-wrapper {
        width: 900px;
        margin: 0 auto;
    }
}
.navbar-brand {
    float: left;
}
.navbar-brand>a {
    margin-top: -36px;
    display: block;
    height: 140px;
    width: 140px;
    background-image: url(../img/Linh_logo_nega.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.navbar-links {
    float: right;
}
@media only screen and (max-width: 950px) {
    .navbar-links {
        display: none;
    }
}
.navbar-links>a {
    float: left;
    display: block;
    text-decoration: none;
    font-weight: 400;
    color: #eeeeee;
    padding: 22px 30px;
}
.navbar-links>a:hover {
    color: #F19494;
}