.works
{
	margin-bottom: 35px;
}

.works-background
{
	height: 250px;
	background-color: #000;
}

.works-image
{
	height: 200px;
	background-size: cover;
	opacity: 0.6;
	transition: 0.2s ease opacity;
}

.works-image:hover
{
	opacity: 1;
}

.works-text
{
	height: 50px;
	background-color: #6d45a8;
	color: #fff;
	font-family: "Oswald";
	font-weight: 300;
	font-size: 24px;
	text-align: center;
	padding-top: 5px;
}